* {
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  src: url('fonts/Signika/Signika-Light.ttf');
  font-family: 'Signika-Light';
}


@font-face {
    src: url('fonts/Signika/Signika-SemiBold.ttf');
    font-family: 'Signika-Bold';
  }

@font-face {
    src: url('fonts/Roboto/Roboto-Black.ttf');
    font-family: 'Roboto-Black';
  }
  

/* Layout */

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Components */

html {
  font-family: 'Signika-Light';
}

body {
  background-color: #f7f6e7;
  margin: 0;
}

.grid-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

body.gallary-hide .image-gallary {
  visibility: hidden;
}

.nav-container {
  height: 80px;
  background-color: #314e52;
  margin-block-end: 10px;
}

.logo{
    font-family: 'Roboto-Black';
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.nav-list a {
  padding-inline-end: 10px;
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}

.meme-editor-panel {
  visibility: hidden;
  align-items: flex-start;
}

body.editor-show .meme-editor-panel {
  visibility: visible;
}

.control-panel {
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  padding: 10px;
}

.control-panel .text-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-block-end: 10px;
  font-family: 'Signika-Light';
  width: 80%;
}

.canvas-container {
  margin: 10px;
}

.editor-btns {
  width: 50%;
  flex-wrap: wrap;
}

.editor-btn-img {
  width: 38px;
  height: 35px;
  border-radius: 5px;
  padding: 3px;
  background-color: white;
  cursor: pointer;
  margin-inline-end: 6px;
  margin-block-end: 6px;
}

.main-footer{
    height: 200px;
    background-color: #314e52;
    flex-direction: column;
}

.about-container{
    height: 400px;
    width: 80%;
    margin-inline-start: 15%;
}

.about-img{
    border-radius: 50%;
    width: 300px;
    margin: 10px;
}

.about-text-container{
    flex-direction: column;
    margin-inline-start: 10px;
}

.about-name{
    font-size: 1.375rem;
    font-family: 'Signika-Bold';
}

.hide{
    display: none;
}

/* HELPERS */

/* ***fles-helpers*** */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.justify-center {
  justify-content: center;
}

/* ***list-helpers*** */

.clean-list {
  list-style-type: none;
}
